@import "styles.scss";

md-card-header md-card-title {
    font-size: 24px;
}

md-card-header md-card-subtitle {
    font-size: 16px;
}

figure {
    margin: 0;
}

#fab-menu {
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 1;
}
