<button md-mini-fab id="fab-menu" [mdMenuTriggerFor]="menu">
    <md-icon>menu</md-icon>
</button>


<md-menu #menu="mdMenu">
    <a href="#overview" class="a-nostyle">
        <button md-menu-item>
            <md-icon>home</md-icon>
            <span>Overview</span>
        </button>
    </a>
    <a href="#introduction" class="a-nostyle">
        <button md-menu-item>
            <md-icon>star rate</md-icon>
            <span>Introduction</span>
        </button>
    </a>
    <a href="#auditorium" class="a-nostyle">
        <button md-menu-item>
            <md-icon>theaters</md-icon>
            <span>Auditorium</span>
        </button>
    </a>
    <a href="#hotel" class="a-nostyle">
        <button md-menu-item>
            <md-icon>hotel</md-icon>
            <span>Hotel</span>
        </button>
    </a>
    <a href="#restaurant" class="a-nostyle">
        <button md-menu-item>
            <md-icon>restaurant</md-icon>
            <span>Restaurant</span>
        </button>
    </a>
    <a href="#technology" class="a-nostyle">
        <button md-menu-item>
            <md-icon>devices</md-icon>
            <span>Technology</span>
        </button>
    </a>
    <a href="#parking" class="a-nostyle">
        <button md-menu-item>
            <md-icon>local_parking</md-icon>
            <span>Parking</span>
        </button>
    </a>
    <a href="#garden" class="a-nostyle">
        <button md-menu-item>
            <md-icon>nature_people</md-icon>
            <span>Garden</span>
        </button>
    </a>
</md-menu>

<md-card class="main-card" id="overview">
    <md-card-header>
        <md-card-title>Chateau Novy Svetlov (est. 1480)</md-card-title>
        <md-card-subtitle>Overview</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="/assets/image/ext43.jpg" alt="Overview image">
    <md-card-content>
        <md-list>
            <md-list-item>Concert and theater venue for 500 guests</md-list-item>
            <md-list-item>Historical halls, ceremony room, dance hall, gallery</md-list-item>
            <md-list-item>Sightseeing tower with a terrace for 50 visitors</md-list-item>
            <md-list-item>Hotel for 72 guests, restaurant, wine shop, interior courtyard</md-list-item>
            <md-list-item>Parking next to the main entrance for 50 cars</md-list-item>
            <md-list-item>Garden of 5 ha, other estates: forest and fruit garden, total 15 ha</md-list-item>
        </md-list>
    </md-card-content>
</md-card>

<md-card class="main-card" id="introduction">
    <md-card-header>
        <md-card-title>Introduction</md-card-title>
    </md-card-header>
    <img md-card-image src="/assets/image/ext44.jpg" alt="Overview image">
    <md-card-content>
        The influential entrepreneurial family Larisch-Monnich originally created Chateau Novy Svetlov by extensively rebuilding an original neo-Gothic castle from 1480. The main rebuilding was completed between 1830 – 1840 when Novy Svetlov became a romantic neo-Gothic residence and one of the most important cultural heritages located in Moravia, Czech Republic. The Chateau was initially used by the family for summer stays.
    </md-card-content>
    <img md-card-image src="/assets/image/ext34.jpg" alt="Overview image">
    <md-card-content>
        Svetlov had a number of owners during the 19th century. The current owners bought the Chateau after it had been closed for 13 years. A thorough renovation was completed to recreate the original structural design from 1840. As a result, the Chateau has become an important cultural center of the region.
    </md-card-content>
    <img md-card-image src="/assets/image/ext35.jpg" alt="Overview image">
    <md-card-content>
        Svetlov has a significant potential for marketing purposes of professional or other activities of its owner. Moreover, it can be a great venue for cultural events and other presentations. Especially memorable are concerts of classical music and related genres.
    </md-card-content>
    <img md-card-image src="/assets/image/ext25.jpg" alt="Overview image">
    <md-card-content>
        The completion of future planned development phases by the end of 2020 will create a unique unified space of significant historical value. The owner can use the space for memorable presentations and cultural events accessible to the public as well as private events of the highest quality with a wide variety of potential purposes.
    </md-card-content>
</md-card>

<md-card class="main-card" id="auditorium">
    <md-card-header>
        <md-card-title>Auditorium</md-card-title>
    </md-card-header>
    <img md-card-image src="/assets/image/stg8.jpg" alt="Overview image">
    <md-card-content>
        The most significant asset of Chateau Svetlov is an interior music and theater performance venue. It was created by placing an custom glass roof above the chateau courtyard. The venue stands out thanks to a unique combination of neo-Gothic architecture and a modern steel structure of the roof incorporating custom double glazing. The project resulted in an interior performance venue of 10,000m3 with excellent acoustic characteristics. Large music bodies (80 – 100 musicians) performing classical music have been found to be especially well suited for the venue. The arena is nonetheless multifunctional and creates unforgettable experiences not just in the case of classical music but also for musicals, popular music, most theater performances, folklore, exclusive business presentations, weddings, or large meetings.
    </md-card-content>
    <md-card-header>
        <md-card-subtitle>Stage</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="/assets/image/stg1.jpg" alt="Overview image">
    <md-card-content>
        Located in the east wing of the courtyard, the stage is connected to the facilities available to performers (changing, makeup and general organization rooms). The structure of the stage itself allows for significant flexibility to support large music bodies as well as small intimate concert and theater settings. The stage is directly connected to a staircase leading to the 2nd floor of the north wing, where additional large changing and resting rooms are located (otherwise used as hotel rooms). The entire stage, the entry of performers and related entourage is strictly separated from spaces attended by visitors, creating an experience of a specialized venue for cultural events.
    </md-card-content>
    <md-card-header>
        <md-card-subtitle>Auditorium</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="/assets/image/stg3.jpg" alt="Overview image">
    <md-card-content>
        Full capacity of the theater seating arrangement is 530 visitors. It is composed of 3 sectors: front sector for 140, and two rear sectors for 210 and 180 visitors. Seating is ergonomic and manufactured by a specialized company from the United Kingdom ensuring comfortable seating even for extended periods of time. The space is very flexible enabling a wide range of seating arrangements including theater seating (530 visitors), round tables (300 visitors), and other formats. The seating is directly connected to the restaurant, coat rooms, restrooms, and other amenities. Access is fully wheelchair accessible to all facilities and a separate seating space is available for wheelchair access only with an excellent view.
    </md-card-content>
    <md-card-header>
        <md-card-subtitle>Sound</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="/assets/image/stg2.jpg" alt="Overview image">
    <md-card-content>
        Concert and theater venue has world class sound technology delivered by an American firm Meyer Sound. Active sound technology ensures even distribution of sound in space so that every visitor experiences the same sound quality irrespective of location. Additional equipment is also available including mixer Yamaha - Midas Venice.
    </md-card-content>
    <md-card-header>
        <md-card-subtitle>Lighting</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        The neo-Gothic space has effective lighting equipment placed on the new roof structure. Additional lights resembling torches are placed on walls encircling the entire venue. The stage has its own lighting with a remote control station from which the entire venue lighting can be managed.
    </md-card-content>
    <md-card-header>
        <md-card-subtitle>Heating and Air Conditioning</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="/assets/image/ext14.jpg" alt="Overview image">
    <md-card-content>
        The main performance venue has floor heating creating a comfortable atmosphere for all visitors. The temperature inside the venue in the seating area is up to 5°C different from the temperature near the roof ensuring comfort of visitors while enhancing energy efficiency. Ventilation and cooling is provided by a very original system using cool air from lower level floors and/or the outside. Air intakes and silent fans transport of air from outside spaces is located on the northern side of the building. Fresh air can be cycled into the venue which is especially important during fully attended performances. The system is extremely energy efficient and ensures comfortable seating even during long periods of extremely warm outside temperatures. The system provides natural humidity of around 50% inside the venue.
    </md-card-content>
</md-card>

<md-card class="main-card" id="hotel">
    <md-card-header>
        <md-card-title>Hotel</md-card-title>
    </md-card-header>
    <img md-card-image src="/assets/image/int3.jpg" alt="Overview image">
    <md-card-content>
        The hotel has enough capacity for 72 guests. Every room is equipped with handmade replicas of historical furniture from Malaysian mahogany, widescreen plasma TVs with local and international stations are provided using satellite. Guests will welcome modern marble bathrooms. All beds are equipped with high quality ergonomic mattresses.
    </md-card-content>
    <img md-card-image src="/assets/image/int13.jpg" alt="Overview image">
</md-card>

<md-card class="main-card" id="restaurant">
    <md-card-header>
        <md-card-title>Restaurant</md-card-title>
    </md-card-header>
    <img md-card-image src="/assets/image/stg11.jpg" alt="Overview image">
    <md-card-content>
        Culinary operations are provided by a high capacity kitchen which is located in the north wing and has its own supply entrance. The kitchen ensures enough capacity to provide service for 500 – 750 guests at one time. Restaurant and wine shop are located in traditional spaces on the ground floor, guaranteeing wheelchair access, and equipped with floor heating and historical furniture.
    </md-card-content>
    <img md-card-image src="/assets/image/int52.jpg" alt="Overview image">
</md-card>

<md-card class="main-card" id="technology">
    <md-card-header>
        <md-card-title>Technology</md-card-title>
    </md-card-header>
    <md-card-content>
        The Chateau underwent a complete renovation and replacement of all technical equipment. The 3-year renovation project was completed in 2011 when all inspections were finalized.
    </md-card-content>
    <md-card-header>
        <md-card-subtitle>Courtyard Roof</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="/assets/image/stg12.jpg" alt="Overview image">
    <md-card-content>
        The key investment component in the renovation project was the creation of the glass roof above the Chateau courtyard in the neo-Gothic section of the property. A custom modern steel structure was designed to incorporate double glazing with specific technical parameters to account for ideal light penetrability. The structure also meaningfully improved the energy efficiency of the property by retaining heat internally (up to 40% energy savings expected). Interior stone walls also dried out thanks to the roof structure, creating a memorable experience of a large performance hall for visitors and business presentations.
    </md-card-content>
    <md-card-header>
        <md-card-subtitle>Fire System</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        A fire system was installed in the entire building using sensors in individual rooms and in the main performance venue. The entire system is connected with the property reception area. All spaces of the Chateau are equipped with internet, TV, and mobile services. The full exterior and roofs have been restored.
    </md-card-content>
    <md-card-header>
        <md-card-subtitle>Air Conditioning</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="/assets/image/int17.jpg" alt="Overview image">
    <md-card-content>
        Main theater venue is fully air conditioned using cool air intakes from lower level areas. Four ventilators are able to efficiently replace the entire air volume in the theater venue within an hour. Hotel rooms and other historical areas in the north wing of the Chateau have natural cooling enabled by wide walls and high quality window components creating a comfortable humidity of 50% throughout the year.
    </md-card-content>
    <md-card-header>
        <md-card-subtitle>Heating</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        Heating, water distribution, and drainage were completely replaced. The ground floor was equipped with ground heating, and modern convection heaters were installed in individual rooms significantly improving energy efficiency. An immediate increase in heating power is provided by additional electric ventilators added to heaters.
    </md-card-content>
</md-card>

<md-card class="main-card" id="parking">
    <md-card-header>
        <md-card-title>Parking</md-card-title>
    </md-card-header>
    <img md-card-image src="/assets/image/ext35.jpg" alt="Overview image">
    <md-card-content>
        Main parking for 50 cars is located next to the main entrance and reception. Additional parking for 25 cars is available behind the north wing. Side parking with enough capacity for 35 cars is also available as needed.
    </md-card-content>
</md-card>

<md-card class="main-card" id="garden">
    <md-card-header>
        <md-card-title>Garden</md-card-title>
    </md-card-header>
    <img md-card-image src="/assets/image/ext7.jpg" alt="Overview image">
    <md-card-content>
        The main Chateau building is surrounded by an extensive English garden which occupies 5 ha of the total 15 ha of land. The garden also served as game reserve. Today’s English Gothic style originated in the 19th century when the castle was transformed by architect Eduard Kuschee from Vienna. Extensive grass areas and groups of trees were added to create the feeling of a romantic garden. The English park and its romantic experience contrasts with the uniform French style thanks to individuality, freedom, the feeling of nature, and creates surprises and mystery. Irregularity dominates geometry and so does imagination over predictability. The park has many valuable woods and late baroque statues. The circumference of the Chateau is enriched by a raised sandstone plate, creating a terrain which stands out and is supported by brick wall with iron bars.
    </md-card-content>
    <img md-card-image src="/assets/image/ext10.jpg" alt="Overview image">
</md-card>
