<md-card class="main-card" *ngFor="let item of activeVideos; let i = index">
    <md-card-header>
        <md-card-title>Flyover</md-card-title>
    </md-card-header>
    <md-card-content>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/ZmBwGLE041k" frameborder="0" allowfullscreen></iframe>
    </md-card-content>
</md-card>

<md-card class="main-card" *ngFor="let item of activeVideos; let i = index">
    <md-card-header>
        <md-card-title>Performance</md-card-title>
    </md-card-header>
    <md-card-content>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/zXeiYjzT_f4" frameborder="0" allowfullscreen></iframe>
    </md-card-content>
</md-card>
